h1, h2 {
color : #A4133C;
}
h3 {
    color : #000000;
}
body {
    background-color : #FFE5EC;
}
h1 {
    text-shadow : 2px 2px 2px rgba(206,89,55,0);
}
h1 {
    font-family: 'Cursive', 'Brush Script MT', sans-serif;
    font-size: 3em;
    color: #A4133C;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin: 40px;
}
h2 {
    border: 3px solid #FF0A54;
    padding: 25px;
    color: #A4133C;
    font-family: 'Lato', 'Comic Sans MS', cursive;
    font-size: 1.1rem;
    overflow: hidden;
    text-align: center;
}
